#planets, #calculate-button {
    color: purple;
    background-color: black;
}

#user-weight {
    color: white;
    background-color: black;
}

body {
    background-color: aqua;
}

p {
    color: purple;
}